<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Create News</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'news_project/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'news_project/css/blog-home.css' %}" rel="stylesheet">

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <!-- Blog Post -->
                <form action="" method='POST'>
                    {% csrf_token %}
                  <div class="form-group">
                    <label for="formGroupExampleInput">News Title</label>

                    {% render_field form.title type="text" class="form-control" id="formGroupExampleInput" placeholder="News title"  %}
                  </div>

                  <div class="form-group">
                    <label for="formGroupExampleInput">Author</label>

                    {% render_field form.author type="text" class="form-control" id="formGroupExampleInput" placeholder="Choose Author"  %}
                  </div>

                  <div class="form-group">
                    <label for="formGroupExampleInput">News content</label>

                    {% render_field form.content type="text" class="form-control" id="formGroupExampleInput" placeholder="News Content"  %}
                  </div>

                  <div class="form-group">
                    <label for="formGroupExampleInput">Image</label>

                    {% render_field form.image  class="form-control" %}
                  </div>

                  <div class="form-group">
                    <label for="formGroupExampleInput">Image</label>

                    {% render_field form.image  type="submit"  class="form-control btn btn-primary" %}
                  </div>
                </form>
            </div>
            <div class="col-md-3 create-section">
                <h4>Administration for news</h4>
                <button type="button" class="btn btn-outline-success">Create news</button>
                <button type="button" class="btn btn-outline-primary">Export to excel</button>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'news_project/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'news_project/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
